.text-core {
  position: relative;
}

.text-core .text-wrap {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.text-core .text-wrap:hover {
  background-color: #fff;
}
.text-core .text-wrap textarea,
.text-core .text-wrap input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #9daccc;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 3px 5px 4px 5px;
  white-space: nowrap;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  line-height: 13px;
  height: auto;
}

.search-container .text-core .text-wrap textarea,
.search-container .text-core .text-wrap input {
  height: 47px;
  line-height: 2.7rem;
  padding-left: 10px;
  font-size: 1rem;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.text-core .text-wrap textarea:focus {
  box-shadow: 0 0 5px rgba(0, 100, 255, 1);
  border: 1px solid rgba(0, 100, 255, 1);
}
