#hub-first-divider {
    position: relative;
}

#hub-change-button {
    position: absolute;
    background-color: #F4A49D;
    right: -5%;
    top: -30px;
}

.hub-categories {
    font-size: 19px;
    
}

#hub-intro-blurb {
    margin-right: 50%;
}

@media (max-width: 1000px) {
    #hub-intro-blurb {
        margin-right: 0px;
    }
}


/*suggestions panel*/
#hub-suggestions-holder {
    height: 300px;
}

#suggestions-blurb {
    font-size: 30px;
    color: #aaa;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

/*card panel*/

.card .card-title {
    font-size: 16px;
}

.card .card-image {
    height: 200px;
}


.card {
    margin: 20px 10px 20px 10px;
    position: relative;
}

.find-result-price {
    position: absolute;
    left: 0%;
    top: 0%;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 1.1rem;
    z-index: 3;
    color: #fff;
    pointer-events: none;
}

.find-result-favorite {
    position: absolute;
    top: 1%;
    right: -3%;
    z-index: 3;
}

.find-result-favorite-image {
    width: 75%;
    height: auto;
    opacity: 0.3;
    cursor: pointer;
}